Part des collèges dans le privé/public en REP/REP+/zone "classique"

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('lv-college.csv', sep = ';')
sect_rep = df.pivot_table(values = "Secteur", index = 'REP', aggfunc = 'sum')
sect_replus = df.pivot_table(values = "Secteur", index = 'REP +', aggfunc = 'sum')
display(sect_rep)
display(sect_replus)

                                               Secteur
REP
0    PUBLICPUBLICPUBLICPUBLICPUBLICPUBLICPUBLICPUBL...
1    PUBLICPUBLICPUBLICPUBLICPUBLICPUBLICPUBLICPUBL...

                                                 Secteur
REP +
0      PUBLICPUBLICPUBLICPUBLICPUBLICPUBLICPUBLICPUBL...
1      PUBLICPUBLICPUBLICPUBLICPUBLICPUBLICPUBLICPUBL...

In [34]:
secteur = df.groupby(by = ['Secteur'])
prive = secteur.get_group(('PRIVE',))
priv_replus = prive['REP +'].sum()
priv_rep = prive['REP'].sum()
nb_prive = prive.shape[1]