Evolution de la popularité des langues de 2019 à 2023

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('lv-college.csv', sep = ';')
df.columns

C:\Users\marie\AppData\Local\Temp\ipykernel_29424\441065526.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('lv-college.csv', sep = ';')

Index(['num_ligne', 'Rentrée scolaire', 'Code région académique',
       'Région académique', 'Code académie', 'Académie', 'Code département',
       'Département', 'Code postal', 'Commune', 'UAI',
       'Dénomination principale', 'Patronyme', 'Secteur', 'REP', 'REP +',
       'Nombre d'élèves total', 'Nombre d'élèves total hors Segpa hors ULIS',
       'Nombre d'élèves total Segpa', 'Nombre d'élèves total ULIS',
       '6èmes total', '6èmes hors Segpa hors ULIS', '6èmes Segpa',
       '6èmes ULIS', '6èmes filles', '6èmes garçons', '6èmes LV1 allemand',
       '6èmes LV1 anglais', '6èmes LV1 espagnol', '6èmes LV1 autres langues',
       '6èmes LV2 allemand', '6èmes LV2 anglais', '6èmes LV2 espagnol',
       '6èmes LV2 italien', '6ème LV2 autres langues', '5èmes total',
       '5èmes hors Segpa hors ULIS', '5èmes Segpa', '5èmes ULIS',
       '5èmes filles', '5èmes garçons', '5èmes LV1 allemand',
       '5èmes LV1 anglais', '5èmes LV1 espagnol', '5èmes LV1 autres langues',
       '5èmes LV2 allemand', '5èmes LV2 anglais', '5èmes LV2 espagnol',
       '5èmes LV2 italien', '5èmes LV2 autres langues', '4èmes total',
       '4èmes hors Segpa hors ULIS', '4èmes Segpa', '4èmes ULIS',
       '4èmes filles', '4èmes garçons', '4èmes LV1 allemand',
       '4èmes LV1 anglais', '4èmes LV1 espagnol', '4èmes LV1 autres langues',
       '4èmes LV2 allemand', '4èmes LV2 anglais', '4èmes LV2 espagnol',
       '4èmes LV2 italien', '4èmes LV2 autres langues', '3èmes total',
       '3èmes hors Segpa hors ULIS', '3èmes Segpa', '3èmes ULIS',
       '3èmes filles', '3èmes garçons', '3èmes LV1 allemand',
       '3èmes LV1 anglais', '3èmes LV1 espagnol', '3èmes LV1 autres langues',
       '3èmes LV2 allemand', '3èmes LV2 anglais', '3èmes LV2 espagnol',
       '3èmes LV2 italien', '3èmes LV2 autres langues'],
      dtype='object')

In [5]:
m2019 = (df['Rentrée scolaire'] == 2019)
m2020 = (df['Rentrée scolaire'] == 2020)
m2021 = (df['Rentrée scolaire'] == 2021)
m2022 = (df['Rentrée scolaire'] == 2022)
m2023 = (df['Rentrée scolaire'] == 2023)

df19 = df[m2019]
df20 = df[m2020]
df21 = df[m2021]
df22 = df[m2022]
df23 = df[m2023]

lv1ang = df.pivot_table(values = ["6èmes LV1 anglais", "5èmes LV1 anglais", "4èmes LV1 anglais", "3èmes LV1 anglais"], index = 'Rentrée scolaire', aggfunc = 'sum')

In [6]:
lv1ang

,3èmes LV1 anglais,4èmes LV1 anglais,5èmes LV1 anglais,6èmes LV1 anglais
Rentrée scolaire,,,,
2019,784819,788700,789520,797361
2020,798471,785144,799430,788015
2021,791222,792452,787701,792951
2022,803292,785111,796198,786391
2023,798620,793559,788469,787072